node_modules
.next
out
build
dist
.git
.gitignore
.env*.local
*.md
!.dockerignore
Dockerfile
docker-compose*
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
*.pem
.vercel
coverage
.vscode
.idea
*.tsbuildinfo
next-env.d.ts